<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdzapp.cloud.generator.mapper.GeModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jdzapp.cloud.generator.entity.GeModel">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="length" property="length" />
        <result column="decimal_point" property="decimalPoint" />
        <result column="not_null" property="notNull" />
        <result column="primary_key" property="primaryKey" />
        <result column="default_value" property="defaultValue" />
        <result column="create_at" property="createAt" />
        <result column="model_id" property="modelId" />
    </resultMap>

</mapper>
